In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\downloads\ServiceTrain.csv")
df.head()

      OilQual  EnginePerf  NormMileage    TyreWear    HVACwear Service
0  103.388821  103.504032   103.051485  106.172658  105.686843      No
1   26.765516   26.188265    31.259536   29.186162   31.311275     Yes
2   62.413282   63.681061    59.720883   64.704031   58.620518     Yes
3   45.533338   49.906615    48.777581   48.113851   47.952072      No
4  104.388821  103.284032   103.051485  105.822658  106.536843      No

In [4]:
df['Service'] = df['Service'].map({'Yes': 1, 'No': 0})

In [5]:
X = df.drop('Service', axis=1)
y = df['Service']

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)